@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
}
.container{
    padding: 3em;
    padding-top: 0em;
    /* width: 100%; */
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('background_light.jpg') ;
    object-fit: cover;
    object-position: center;
    /* box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25); */
}
.heading{
    margin-top: 10px;
    height: 3em;
    text-align: center;
    color: white;
    /* margin-bottom: ; */
    background:rgba(228, 27, 0, 0.908) ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 30px;
}
.response-area{
    height: 79%;
    width: 100%;
    /* border: 2px solid black; */
    border-radius: 30px;
    padding-top: 13px;
    background-color: rgba(228, 27, 0, 0.095);
    
}
.response-box{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 95%;
    padding: 20px 30px;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 20px;
    /* background: white; */
}
.bot-answer{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: fit-content;
    max-width: 70%;
    /* width: 70%; */
    height:fit-content;
    /* border: 2px solid black; */
    padding: 30px;
    border-radius: 15px;
    padding-left: 30px;
    background: white;
    /* overflow-x: */
}
.send-message{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9%;
    width:100%;
    /* border: 2px solid black; */
    background-color:white;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    border-radius: 30px;
}
.send-msg-box{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content:space-between;
    padding: 0px 10px;

}
.send-button{
    width: 15%;
    height: 60%;
    border-radius: 30px;
    border: none;
    background: blueviolet;
    color: white;
    cursor: pointer;
    transition: 0.3s;

}
.send-button:hover{
    transform: scale(1.05);
}
.user-input{
    width: 80%;
    height: 60%;
    border-radius: 30px;
    padding: 0px 20px;
    border: 1px solid rgba(228, 27, 0, 0.908);
}
.myquestion{
    display: flex;
    align-self:flex-end;
    padding: 10px 15px;
    /* border: 2px solid black; */
    background:rgba(228, 27, 0, 0.908);
    color: white;
    border-radius: 15px;
    height: fit-content;

}


/* HTML:  */
.ai-symbol {
    width:20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #F10C49;
    animation: l9 2s infinite;
    margin-left: 10px;
  }
  @keyframes l9 {
    0%   {box-shadow: 
            0 -16px #F4DD51, calc(16px*0.707) calc(-16px*0.707) #E3AAD6,0 0 #F4DD51, 0 0 #E3AAD6,
            0 0 #F4DD51, 0 0 #E3AAD6,0 0 #F4DD51, 0 0 #E3AAD6}
    12.5%   {box-shadow: 
            0 0 #F4DD51, calc(16px*0.707) calc(-16px*0.707) #E3AAD6,16px 0 #F4DD51, 0 0 #E3AAD6,
            0 0 #F4DD51, 0 0 #E3AAD6,0 0 #F4DD51, 0 0 #E3AAD6}
    25%   {box-shadow: 
            0 0 #F4DD51, 0 0 #E3AAD6,16px 0 #F4DD51, calc(16px*0.707) calc(16px*0.707) #E3AAD6,
            0 0 #F4DD51, 0 0 #E3AAD6,0 0 #F4DD51, 0 0 #E3AAD6}
    37.5% {box-shadow: 
            0 0 #F4DD51, 0 0 #E3AAD6,0 0 #F4DD51, calc(16px*0.707) calc(16px*0.707) #E3AAD6,
            0 16px #F4DD51, 0 0 #E3AAD6,0 0 #F4DD51, 0 0 #E3AAD6}
    50%   {box-shadow: 
            0 0 #F4DD51, 0 0 #E3AAD6,0 0 #F4DD51, 0 0 #E3AAD6,
            0 16px #F4DD51, calc(-16px*0.707) calc(16px*0.707) #E3AAD6,0 0 #F4DD51, 0 0 #E3AAD6}
    62.5% {box-shadow: 
            0 0 #F4DD51, 0 0 #E3AAD6,0 0 #F4DD51, 0 0 #E3AAD6,
            0 0 #F4DD51, calc(-16px*0.707) calc(16px*0.707) #E3AAD6,-16px 0 #F4DD51, 0 0 #E3AAD6}
    75%   {box-shadow: 
            0 0 #F4DD51, 0 0 #E3AAD6,0 0 #F4DD51, 0 0 #E3AAD6,
            0 0 #F4DD51, 0 0 #E3AAD6,-16px 0 #F4DD51, calc(-16px*0.707) calc(-16px*0.707) #E3AAD6}
    87.5% {box-shadow: 
            0 -16px #F4DD51, 0 0 #E3AAD6,0 0 #F4DD51, 0 0 #E3AAD6,
            0 0 #F4DD51, 0 0 #E3AAD6,0 0 #F4DD51, calc(-16px*0.707) calc(-16px*0.707) #E3AAD6}
    100% {box-shadow: 
            0 -16px #F4DD51, calc(16px*0.707) calc(-16px*0.707) #E3AAD6,0 0 #F4DD51, 0 0 #E3AAD6,
            0 0 #F4DD51, 0 0 #E3AAD6,0 0 #F4DD51, 0 0 #E3AAD6}
  }


  @media only screen and (max-width:900px)
  {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .response-box{
        width: 90%;
        padding: 10px 20px;
    }
  }
.loader-fill{
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
}

.loader {
    width: 22px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #F10C49;
    animation: l10 1.5s infinite linear;
  }
  @keyframes l10 {
    0%    {box-shadow: 
            0 -30px #F4DD51, calc(30px*0.707) calc(-30px*0.707) #E3AAD6,30px 0 #F4DD51, 0 0 #E3AAD6,
            0 0 #F4DD51, 0 0 #E3AAD6,0 0 #F4DD51, 0 0 #E3AAD6}
    12.5% {box-shadow: 
            0 0 #F4DD51, calc(30px*0.707) calc(-30px*0.707) #E3AAD6,30px 0 #F4DD51, calc(30px*0.707) calc(30px*0.707) #E3AAD6,
            0 0 #F4DD51, 0 0 #E3AAD6,0 0 #F4DD51, 0 0 #E3AAD6}
    25%   {box-shadow: 
            0 0 #F4DD51, 0 0 #E3AAD6,30px 0 #F4DD51, calc(30px*0.707) calc(30px*0.707) #E3AAD6,
            0 30px #F4DD51, 0 0 #E3AAD6,0 0 #F4DD51, 0 0 #E3AAD6}
    37.5% {box-shadow: 
            0 0 #F4DD51, 0 0 #E3AAD6,0 0 #F4DD51, calc(30px*0.707) calc(30px*0.707) #E3AAD6,
            0 30px #F4DD51, calc(-30px*0.707) calc(30px*0.707) #E3AAD6,0 0 #F4DD51, 0 0 #E3AAD6}
    50%   {box-shadow: 
            0 0 #F4DD51, 0 0 #E3AAD6,0 0 #F4DD51, 0 0 #E3AAD6,
            0 30px #F4DD51, calc(-30px*0.707) calc(30px*0.707) #E3AAD6,-30px 0 #F4DD51, 0 0 #E3AAD6}
    62.5% {box-shadow: 
            0 0 #F4DD51, 0 0 #E3AAD6,0 0 #F4DD51, 0 0 #E3AAD6,
            0 0 #F4DD51, calc(-30px*0.707) calc(30px*0.707) #E3AAD6,-30px 0 #F4DD51, calc(-30px*0.707) calc(-30px*0.707) #E3AAD6}
    75%   {box-shadow: 
            0 -30px #F4DD51, 0 0 #E3AAD6,0 0 #F4DD51, 0 0 #E3AAD6,
            0 0 #F4DD51, 0 0 #E3AAD6,-30px 0 #F4DD51, calc(-30px*0.707) calc(-30px*0.707) #E3AAD6}
    87.5% {box-shadow: 
            0 -30px #F4DD51, calc(30px*0.707) calc(-30px*0.707) #E3AAD6,0 0 #F4DD51, 0 0 #E3AAD6,
            0 0 #F4DD51, 0 0 #E3AAD6,0 0 #F4DD51, calc(-30px*0.707) calc(-30px*0.707) #E3AAD6}
    100%  {box-shadow: 
            0 -30px #F4DD51, calc(30px*0.707) calc(-30px*0.707) #E3AAD6,30px 0 #F4DD51, 0 0 #E3AAD6,
            0 0 #F4DD51, 0 0 #E3AAD6,0 0 #F4DD51, 0 0 #E3AAD6}
  
  }